<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="root">
	<div class="container">
		<h1 class="fleft">Karyawan</h1>
		<br>
		<br>
		<br>
		<button class="fleft addData" @click="showingAddModal = true;">Add Data</button>
		<br>
		<p class="errorMessage" v-if="errorMessage">
			{{errorMessage}}
		</p>

		<p class="successMessage" v-if="successMessage">
			{{successMessage}}
		</p>

		<table class="list">
			<tr>
				<th>No</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Tanggal Lahir</th>
				<th>Jenis Kelamin</th>
				<th>Nomor</th>
				<th>Action</th>
				
			</tr>
			<tr v-for="user in users">
				<td>{{user.id}}</td>
				<td>{{user.nama}}</td>
				<td>{{user.alamat}}</td>
				<td>{{user.tanggal}}</td>
				<td>{{user.jk}}</td>
				<td>{{user.idKaryawan}}</td>
				<td><button @click="showingEditModal = true; selectUser(user)">Edit</button>
				<button @click="showingDeleteModal = true; selectUser(user)">Delete</button></td>
			</tr>
		</table>

	</div>


	<div class="modal" id="addModal" v-if="showingAddModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<h2>
				<p class="fleft">Add Data</p>
				</h2>
				<button class="fright close" @click="showingAddModal = false;">x</button>
				<div class="clear"></div>
				<br>
				<hr>
			</div>
			<div class="modalContent">
				<table class="form">
					<tr>
						<th>Nama</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.nama"> </td>
					</tr>

					<tr>
						<th>Alamat</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.alamat"> </td>
					</tr>

					<tr>
						<th>Tanggal</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.tanggal"> </td>
					</tr>

					<tr>
						<th>Nomor</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="newUser.idKaryawan"> </td>
					</tr>

					<tr>
						<th>Jenis Kelamin</th>
						<th> : </th>
						<td> 
							<input type="radio" name="" value="Laki-laki" v-model="newUser.jk"> Laki-Laki
							<input type="radio" name="" value="Perempuan" v-model="newUser.jk"> Perempuan
  						

						</td>
					</tr>

					<tr>
						<th></th>
						<th> </th>
						<td> 

							<button class ="fright" @click="showingAddModal = false; saveUser();">Confirm</button>

						 </td>

						 <th></th>
						<th> </th>
					</tr>


				</table>
			</div>
		</div>
	</div>

	<div class="modal" id="editModal" v-if="showingEditModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<h2>
				<p class="fleft">Edit Data</p>
				</h2>
				<button class="fright close" @click="showingEditModal = false;">x</button>
				<div class="clear"></div>
				<br>
				<hr>
			</div>
			<div class="modalContent">
				<table class="form">
					<tr>
						<th>Nama</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.nama"> </td>
					</tr>

					<tr>
						<th>Alamat</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.alamat"> </td>
					</tr>

					<tr>
						<th>Tanggal</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.tanggal"> </td>
					</tr>

					<tr>
						<th>Nomor</th>
						<th> : </th>
						<td> <input type="text" name="" v-model="clickedUser.idKaryawan"> </td>
					</tr>

					<tr>
						<th>Jenis Kelamin</th>
						<th> : </th>
						<td> 
							<input type="radio" name="" value="Laki-laki" v-model="clickedUser.jk"> Laki-Laki
  							<input type="radio" name="" value="Perempuan" v-model="clickedUser.jk"> Perempuan
						</td>
					</tr>

				

					<tr>
						<th></th>
						<th> </th>
						<td> <button class="fright" @click="showingEditModal = false; updateUser()">Confirm</button> </td>
					</tr>


				</table>
			</div>
		</div>
	</div>

	<div class="modal" id="deleteModal" v-if="showingDeleteModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<button class="fright close" @click="showingDeleteModal = false;">x</button>
				<div class="clear"></div>
			</div>
			<div class="modalContent">
				<p>Yakin Menghapus Data Karyawan dengan nama '{{clickedUser.nama}}'. dan Nomor '{{clickedUser.idKaryawan}}'</p>
				<br><br><br><br><br>
				<button @click="showingDeleteModal = false; deleteUser()">Ya</button>
				<button @click="showingDeleteModal = false;">Tidak</button>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
 <script type="text/javascript" src="axios.js"></script>

 <script type="text/javascript" src="vue.js"></script>

 <script type="text/javascript" src="app.js"></script>

</body>
</html>